<div class="jw-modal">
  <div class="jw-modal-body flex flex-col">
    <input type="text" placeholder="title" value={{book.title}} #title class={{this.classInput}}>

    <input type="text" placeholder="author" value={{book.author}} #author class={{this.classInput}}>

    <input type="text" placeholder="pageCount" value={{book.pageCount}} #pageCount class={{this.classInput}}>

    <input type="text" placeholder="date" value={{book.date}} #date class={{this.classInput}}>

    <button class={{this.classBtn}} (click)="addBook(title.value,author.value,pageCount.value,date.value )">add this
      book</button>
  </div>
</div>
<div class="jw-modal-background"></div>
