<div class={{this.classRoot}}>

  <button class={{this.classEditBtn}} (click)="openModal('edit-book-modal', book)">edit</button>

  <button class={{this.classDelBtn}} (click)="delBook()">remove</button>

  <span> title </span> <span class={{this.classText}}> {{book.title}} </span>
  <br> <span>author</span> <span class={{this.classText}}> {{book.author}}</span>
</div>

<app-edit-book id="edit-book-modal" [book]="book">

  <button class="close-modal" (click)="closeModal('edit-book-modal');">X</button>

</app-edit-book>
