body {
  background-color: dimgray;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: mediumseagreen;
}

.edit {
  float: right;
  cursor: pointer;
}

.del {
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal {
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
